* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
}
.page {
    display: flex;
}

.liseret {
    height: 100vh;
    width: 24%;
    background: linear-gradient(
    rgba(0, 0, 0, 0.76),
    rgba(0, 0, 0, 0.9)
    ), url("../img/fond.jpg");

    border-radius: 0 8px 8px 0;
}
.container {

    padding: 3%;
}
.header {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 6vh;
}

.header h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header img {
    width: 120px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    border: solid 2px rgba(0, 0, 0, 0.85);
    box-shadow: 5px 6px 4px rgba(0,0,0,0.45);
}

hr {
    width: 70%;
    border-color: rgba(0, 0, 0, 0.43);
}

.main {
    display: flex;
    flex-direction: row;
}

.main section {
    width: 25vw;
}